.form_container {
<<<<<<< HEAD
  display: block;
=======
    display: block;
   
    

>>>>>>> 2fb6e441c11f873c7613fb75e097a29cd705a289
}

.form_item {
  margin: 40px;
  padding: 10px;
  border-radius: 12px;
}
<<<<<<< HEAD
.form_textarea {
  display: flex;
  margin: auto;
  resize: none;
  border-radius: 12px;
  padding-top: 10px;
  padding-left: 10px;
}
.form_button {
  background-color: #0049b8;
  height: 3rem;
  width: 9rem;
  margin-top: 2rem;
  color: white;
  border-radius: 12px;
=======
.form_textarea{
    display: flex;
    margin:auto;
    resize: none;
    border-radius: 12px;
    padding-top: 10px;
    padding-left: 10px;

>>>>>>> 2fb6e441c11f873c7613fb75e097a29cd705a289
}
