.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1{
  color: black;
}

footer{
  background-color: #0049B8;
  display: flex;
  justify-content: space-between;
  padding-left: 2rem;
  margin-top: 2rem;
  height: 4rem;
}
.footer_item{
  height: 30px;
  padding-top: 1rem;
  padding-right: 2rem ;

}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
